<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	<insert id="insertBoard" parameterType="com.sp.bbs.Board">
		INSERT INTO bbs(num, userId, subject, content, hitCount, created) VALUES
	         (bbs_seq.NEXTVAL, #{userId}, #{subject}, #{content}, 0, SYSDATE)
	</insert>
	
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM bbs b
		JOIN member1 m ON b.userId=m.userId
	</select>

	<!-- 글리스트 -->
	<select id="listBoard" parameterType="map" resultType="com.sp.bbs.Board">
		SELECT b.num, b.userId, userName, subject, 
		       TO_CHAR(b.created, 'YYYY-MM-DD') created,
		       hitCount, saveFilename,
		       NVL(replyCount, 0) replyCount
		FROM bbs b
		JOIN member1 m ON b.userId=m.userId
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) replyCount FROM bbsReply
			WHERE answer=0
			GROUP BY num
		) c ON b.num=c.num
	
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="readBoard" parameterType="Integer" resultType="com.sp.bbs.Board">
		SELECT b.num, b.userId, userName, subject, content,
			   hitCount, b.created, saveFilename, originalFilename, 
			   NVL(boardLikeCount, 0) boardLikeCount
		FROM bbs b
		JOIN member1 m ON b.userId=m.userId
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) boardLikeCount FROM bbsLike
			GROUP BY num
		) bc ON b.num = bc.num
		WHERE b.num = #{num}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE bbs SET hitCount=hitCount+1 WHERE num = #{num}
	</update>
	
	<!-- 이전글 -->
	<select id="preReadBoard" parameterType="map" resultType="com.sp.bbs.Board">
		SELECT num, subject
		FROM bbs b
		JOIN member1 m ON b.userId=m.userId
		<where>
			(num &gt; #{num})
		</where>
		ORDER BY num ASC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<!-- 다음글 -->
	<select id="nextReadBoard" parameterType="map" resultType="com.sp.bbs.Board">
		SELECT num, subject
		FROM bbs b
		JOIN member1 m ON b.userId=m.userId
		<where>
			(num &lt; #{num})
		</where>
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 수정 -->
	<update id="updateBoard" parameterType="com.sp.bbs.Board">
		UPDATE bbs SET subject=#{subject}, content=#{content}
		WHERE num = #{num}
	</update>
      
	<!-- 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM bbs WHERE num = #{num}
	</delete>
</mapper>